*{margin: 0; padding: 0; box-sizing: border-box;}
:root {

    --cor-black: #000000;
    --cor-hover: #ffffff;
  
}
body{
    background-image: url(/img/home-img.jpg);
    background-size: cover;
}
/* Esté é o menu em cima */
.menu{
    width: 100%;
    height: 160px;
    margin-bottom: auto;
}
.menu img{
    margin-top: -0.7rem;
    margin-left: 0.7rem;
}

ul li{
    display: inline;
    float: right;
    padding-right: 3rem;
    margin-top: 70px;
    margin-right: 10px;
}
li{
    font-size: 30px;
    color: aliceblue;
    border:4px solid var(--cor-azul);
    position: relative;
    text-transform: capitalize;
    text-decoration:none;
    color: var(--cor-azul);
    background-color: transparent;
    cursor: pointer;
    font-size: 2em;
    font-family: 'open_sansregular';
    transition:0.4s;
    text-shadow: 0 0 0.125em rgba(53, 11, 243, 0.5), 0 0 0.25em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--cor-azul), 0 0 0.5em 0 var(--cor-azul);
}
li :hover{
    color: #8A2BE2;
    transition:0.4s;
    text-shadow: none;
}
li :hover:after {
    opacity: 1;
}

li :hover:before {
    opacity: 1;
}

li :before, li :after {
    content: "";
    position: absolute;
    transition: opacity 100ms linear;
    background-color: var(--cor-azul);
}
/* Esté local remete ao texto central localizado a esquerda */
.conteudo{
   height: 600px;
}
.tema .texto-1{
    margin-left: 90px;
    margin-right: 1200px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: -100px;
    color: #008c8c;
    animation: glow 2s ease-in-out infinite alternate;
}

/* Text glowing from onw shade to other shade */
@-webkit-keyframes glow {
  from {
      text-shadow: 0 0 10px rgb(255, 255, 255),
                   0 0 20px rgb(255, 253, 253), 
                   0 0 30px #ff0000, 
                   0 0 40px #f0f0f0,
                   0 0 50px #ffffff,
                   0 0 60px #a54848, 
                   0 0 70px #ffffff;
  }
  to {
      text-shadow: 0 0 20px #ffffff,
                   0 0 30px #ffffff, 
                   0 0 40px #ffffff,
                   0 0 50px #ffffff, 
                   0 0 60px #ffffff,
                   0 0 70px #ffffff, 
                   0 0 80px #ffffff;
  }
}
.tema p{
    font-size: 70px;
    margin-left: 10rem;
    color: 	#8A2BE2;
}
.botao{
    background-color: blueviolet;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.5s ease;
    margin-left: 340px;
    margin-top: 50px;
}
.botao:hover{
    background-color: #d886d1;
}
.aviao-plan{
    margin-left: 360px;
   margin-top: auto;
}
/* Esté remete ao formulário localizado a direita */
.formulário{
    border-radius: 20px;
    background-color:rgb(226, 218, 218);
    width: 455px;
    height: 475px;
    float: right;
    margin-top: -90px;
    margin-right: 100px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
.text-form-title{
    color: #008c8c;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}
div.basico-input label{
    margin-left: 19px;
    font-size: 1rem;
    color: #008c8c;
    cursor: text;
    transition: 0.5s ease-in-out;
}
div.basico-input input{
    background-color: rgb(226, 218, 218);
    color: black;
    width: 420px;
    margin-left: 20px;
    border: none;
    border-bottom: 2px solid #008c8c;
    outline: 0;
}
div.basico-input input :focus
div.basico-input input :valid{
    border-bottom: 2px solid cornflowerblue;
}
.form-but{
    background-color: rgb(226, 218, 218);
    border-radius: 19px;
    width: 150px;
    height: 40px;
    border: 2;
    color: #000000;
    padding: 10px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 165px;
    margin-top: 20px;
    box-shadow: inset -5px -5px  rgb(0, 0, 0);
}
.form-but .enviar{
    border-bottom: #000000;
    margin-left: -10px;
    font-size: 15px;
    border-left: #000000;
    border-right: #000000;
    width: 130px;
    color: #008c8c;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.conta-cadastro{
    font-size: 20px;
    color: #000000;
    margin-left: 20px;
    margin-top: 20px;
}

.cor-button{
    color: #008c8c;
    
}
/* Slides do Site */
.slideshow-container{
  margin-bottom: -200px;
}

.slides li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.slideshow-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.slides {
  height: 600px;
}

.slide {
  width: 100%;
  height: 675px;
  display: none;
}

.slide[data-active] {
  display: block;
}

.slide img {
  width: 1920px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.previous-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 56px;
  height: 56px;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  border: 0;
}

.previous-button {
  left: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.next-button {
  right: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.previous-button:hover,
.next-button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.fade {
  animation-name: fade;
  animation-duration: 1.2s;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  
  to {
    opacity: 1;
  }
} 
/*Perguntas Frequentes */
.perguntas{
    width: 100%;
    height: 520px;
    background-color: rgb(226, 218, 218);
}
h1{
    color: #8A2BE2;
    text-align: center;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-size: 35px;
}
button img{
    border: 0;
}
.card {
    display: flex;
    width: 100%;
}
.card::before{
    content: '';
    top: 0;
    right: 0;
    border: 20px  transparent;
}
/** Content **/
.content {
    height: 78px;
    overflow: hidden;
    position: relative;
    padding: 0;
}
.content::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
}
.content h3 {
    margin-bottom: 0px;
    font-size: 35px;
    margin-left: 80px;
    color: #8A2BE2;
}
.content h3::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 40px;
    bottom: 4px;
    border-radius: 100px;
}
.content p {
    color:#000000;
    font-size: 30px;
    width: 95%;
    margin-left: 80px;
    text-align: justify;
}
.spik{
    margin-top: -30px;
}
#read_button {
    border: none;
    padding: 20px;
    border-radius: 2px;
    margin-top: 15px;
    color: #313131;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
}
#read_button:hover {
    background-color: transparent;
    color: #000000;
    transition: all 0.2s ease-in-out;
}
/** Active **/
.card.active .content {
    height: auto;
}
.card.active .content::before {
    visibility: hidden;
}
.card-2 {
    display: flex;
    width: 100%;
}
.card-2::before{
    content: '';
    top: 0;
    right: 0;
    border: 20px solid transparent;
}
/** Content **/
.content-2 {
    height: 78px;
    overflow: hidden;
    position: relative;
    padding: 0;
}
.content-2::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
}
.content-2 h3 {
    color: #8A2BE2;
    margin-bottom: 0px;
    font-size: 35px;
    margin-left: 40px;
 
}
.content-2 h3::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 40px;
    bottom: 4px;
    border-radius: 100px;
}
.content-2 p {
    font-size: 30px;
    width: 97%;
    margin-left: 40px;
    text-align: justify;
    color:#000000;
}
.spik{
    margin-top: -30px;
}
#read_button-2 {
    border: none;
    padding: 20px;
    border-radius: 2px;
    margin-top: 15px;
    color: #313131;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
}
#read_button-2:hover {
    background-color: transparent;
    color: #000000;
    transition: all 0.2s ease-in-out;
}
/** Active **/
.card-2.active .content-2 {
    height: auto;
}
.card-2.active .content-2::before {
    visibility: hidden;
}
/* Rodapé */
.rodape{
    width: 100%;
    height: 100%;
}
.contato{
    margin-left: 70px;
    color: #ffffff;
    padding: 25px; 
    font-size: 40px;
}
.gmail{
    margin-left: 90px;
    margin-top: -40px;
    color: #ffffff;
    font-size: 22px;
}
.whats{
    margin-left: 90px;
    margin-top: -55px;
    color: #ffffff;
    font-size: 22px;
}
.posic{
    margin-left: 20px;
}
.posic-2{
    margin-left: 10px;
}
.rodeer .rod{
    margin-left: 1450px;
    margin-top: -20px;
    margin-bottom: -50px;
    font-size: 17px;
    color: #ffffff;
}
.rod-pe{
    margin-left: 1650px;
    margin-top: -100px;
}
/* Responsividade para 320px á 600px obs: celular */
@media (min-width: 320px) and (max-width: 600px) {
  .menu {
      height: auto;
      padding: 10px;
      width: 100%;
    }
    
    .menu img {
      margin-top: -150px;
      margin-left: 0px;
    }
    
    ul li {
      display: block;
      float: none;
      padding-right: 0;
      margin-top: 10px;
      margin-right: 0;
      text-align: center;
      margin-left: 210px;
      font-size: 20px;
    }
    
    .conteudo {
      height: 950px;
      background-size: cover;
      background-position: center;
    }
    
    .tema .texto-1 {
      padding-top: 10px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
    
    .tema p {
      font-size: 40px;
      margin-left: 0;
    }

    .tema .botao {
      margin-left: 110px;
      margin-top: 40px;
    }
    
    .aviao-plan {
      padding-top: 20px;
      margin-left: 80px;
      margin-right: 60px;
    }
    
    .formulário {
      width: 280px;
      height: 462px;
      float: none;
      margin-top: 15px;
      margin-left: 60px;
    }
    
    .text-form-title {
      padding: 10px;
      font-size: 20px;
      margin-top: 10px;
    }

    div.basico-input input {
      width: 250px;
      color: #000000;
      margin-bottom: 2px;
    }
    
    .form-but {
      margin-left: 60px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .form-but .enviar{
      border-bottom: #000000;
      margin-left: -10px;
      width: 50px;
      color: #9400D3;
      
    }
    .conta-cadastro {
      font-size: 16px;
      margin-top: -2px;
    }
    
    .perguntas {
      height: 580px;
      width: 100%;
    }
    
    h1 {
      font-size: 30px;
    }
    .card .content h3{
        font-size: 20px;
    }
    
    p {
      padding-top: 13px;
      font-size: 15px;
      margin-left: 50px;
      margin-right: 50px;
    }
    
    .card::before {
      border: none;
    }
    
    .content h3 {
      font-size: 25px;
      margin-left: 2px;
    }
    
    .content p {
      margin-top: 5px;
      font-size: 15px;
      margin-left: 5px;
      margin-right: 10px;
    }
    
    #read_button {
      padding: 10px;
      font-size: 14px;
    }
    
    .card-2::before {
      border: none;
    }
    
    .content-2 h3 {
      font-size: 20px;
      margin-left: 2px;
    }
    
    .content-2 p {
      margin-top: 5px;
      font-size: 15px;
      margin-left: 5px;
      margin-right: 10px;
    }
    
    #read_button-2 {
      padding: 10px;
      font-size: 14px;
    }
    
    .rodape {
      height: 563px;
    }
    
    .contato {
      margin-left: 60px;
      font-size: 30px;
    }
    .posic{
        margin-left: 70px;
        padding-top: 10px;
    }
    .posic-2{
        margin-left: 57px;
        padding-top: 10px;
        padding: -2px;
    }
    .gmail{
        margin-left: 140px;
        margin-top: -45px;
        font-size: 16px;
    }
    .whats {
        margin-left: 140px;
        margin-top: -50px;
        font-size: 16px;
        margin-bottom: 15px
    }
    
    .rodeer .rod {
      padding: -10px;
      margin-left: 260px;
      padding-top: 20px;
      margin-top: -5px;
      margin-bottom: 0px;
      padding-bottom: 0px;
      font-size: 14px;
    }
    
    .rod-pe {
      margin-left: 40px;
      margin-top: -150px;
      margin-bottom: 30px;
      width: 160px;
      height: 160px;
    }
  }
  /* Responsividade de 1000px á 1200px obr: Tablet*/
@media (min-width: 1000px) and (max-width: 1200px){
    .menu{
      width: 100%;
      height: 160px;
      margin-bottom: auto;
    }
    
    .menu img {
      margin-top: -10px;
      margin-left: 20px;
    }
    
    ul li {
      display: inline;
      float: right;
      padding-right: 3rem;
      margin-top: 60px;
      margin-right: 10px;
    }
    
    .conteudo {
      height: 1000px;
      background-size: cover;
      background-position: center;
    }
    
    .tema .texto-1 {
      padding-top: 90px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
    
    .tema p {
      font-size: 40px;
      margin-left: 0;
    }

    .botao {
      margin-left: 420px;
    }
    
    .tema .aviao-plan {
      margin-top: 30px;
      padding-top: 10px;
      padding-bottom: 60px;
      margin-left: -180px;
      margin-right: 0px;
    }
    
    .formulário {
      width: 500px;
      height: 565px;
      float: none;
      margin-top: 15px;
      margin-left: 250px;
    }
    
    .formulário .text-form-title {
      font-size: 25px;
      margin-top: 20px;
      padding: 20px;
    }


    .basico-input input {
      width: 370px;
      margin-top: 10px;
      color: #000000;
      margin-bottom: 1px;
      outline: 0;
      margin-left: -20px;
    }

    div.basico-input label{
      font-size: 20px;
    }
    
    .form-but {
      margin-left: 170px;
      margin-top: 30px;
      margin-bottom: 10px;
    }

    .form-but .enviar{
      border-bottom: #000000;
      margin-left: -10px;
      margin-top: -2px;
      width: 50px;
      color: #9400D3;
      
    }
    .conta-cadastro {
      font-size: 20px;
      margin-top: 10px;
    }
    
    .perguntas {
      height: 550px;
      width: 100%;
    }
    
    h1 {
      font-size: 35px;
    }
    .card .content h3{
        font-size: 20px;
    }
    
    p {
      padding-top: 13px;
      font-size: 15px;
      margin-left: 50px;
      margin-right: 50px;
    }
    
    .card::before {
      border: none;
    }
    
    .card .content h3 {
      font-size: 25px;
      margin-left: 2px;
    }
    
    .content p {
      margin-top: 5px;
      font-size: 20px;
      margin-left: 5px;
      margin-right: 10px;
    }
    
    #read_button {
      padding: 10px;
      font-size: 14px;
    }
    
    .card-2::before {
      border: none;
    }
    
    .card-2 .content-2 h3 {
      font-size: 25px;
      margin-left: 2px;
    }
    
    .content-2 p {
      margin-top: 5px;
      font-size: 20px;
      margin-left: 5px;
      margin-right: 10px;
    }
    
    #read_button-2 {
      padding: 10px;
      font-size: 14px;
    }
    
    .rodape {
      height: 230px;
    }
    
    .contato {
      margin-left: 320px;
      font-size: 40px;
    }
    .posic{
        margin-left: 230px;
        padding-top: 10px;
    }
    .posic-2{
        margin-left: 217px;
        padding-top: 10px;
        padding: -2px;
    }
    .gmail{
        margin-left: 300px;
        margin-top: -50px;
        font-size: 25px;
    }
    .whats {
        margin-left: 300px;
        margin-top: -60px;
        font-size: 25px;
        margin-bottom: 15px
    }
    
    .rodeer .rod {
      padding: -10px;
      margin-left: 750px;
      padding-top: 0px;
      margin-top: -20px;
      margin-bottom: -70px;
      font-size: 21px;
    }
    
  .rod-pe {
      margin-left: 0px;
      margin-top: -2000px;
      margin-bottom: -100px;
      width: 220px;
      height: 220px;
      float: none;
    }
}
/* Responsividade de 700 á 900 obs: IPads*/
@media (min-width: 700px) and (max-width: 900px){
  .menu{
      width: 100%;
      height: 160px;
      margin-bottom: auto;
    }
    
    .menu img {
      margin-top: -10px;
      margin-left: 20px;
      width: 170px;
      height: 170px;
    }
    
    ul li {
      display: inline;
      float: right;
      padding-right: 3rem;
      margin-top: 60px;
      margin-right: 10px;
      font-size: 25px;
    }
    
    .conteudo {
      height: 1000px;
      background-size: cover;
      background-position: center;
    }
    
    .tema .texto-1 {
      padding-top: 50px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
    
    .tema p {
      font-size: 40px;
      margin-left: 0;
    }

    .botao {
      margin-left: 320px;
    }
    
    .tema .aviao-plan {
      margin-top: 30px;
      padding-top: 10px;
      padding-bottom: 60px;
      margin-left: -180px;
      margin-right: 0px;
    }
    
    .formulário {
      width: 500px;
      height: 565px;
      float: none;
      margin-top: 15px;
      margin-left: 150px;
    }
    
    .formulário .text-form-title {
      font-size: 25px;
      margin-top: 20px;
      padding: 20px;
    }


    .basico-input input {
      width: 370px;
      margin-top: 10px;
      color: #000000;
      margin-bottom: 1px;
      outline: 0;
      margin-left: -20px;
    }

    div.basico-input label{
      font-size: 20px;
    }
    
    .form-but {
      margin-left: 170px;
      margin-top: 30px;
      margin-bottom: 10px;
    }

    .form-but .enviar{
      border-bottom: #000000;
      margin-left: -10px;
      margin-top: -2px;
      width: 50px;
      color: #9400D3;
      
    }
    .conta-cadastro {
      font-size: 20px;
      margin-top: 10px;
    }
    
    .perguntas {
      height: 580px;
      width: 100%;
    }
    
    h1 {
      font-size: 35px;
    }
    .card .content h3{
        font-size: 20px;
    }
    
    p {
      padding-top: 13px;
      font-size: 15px;
      margin-left: 50px;
      margin-right: 50px;
    }
    
    .card::before {
      border: none;
    }
    
    .card .content h3 {
      font-size: 25px;
      margin-left: 2px;
    }
    
    .content p {
      margin-top: 5px;
      font-size: 20px;
      margin-left: 5px;
      margin-right: 10px;
    }
    
    #read_button {
      padding: 10px;
      font-size: 14px;
    }
    
    .card-2::before {
      border: none;
    }
    
    .card-2 .content-2 h3 {
      font-size: 25px;
      margin-left: 2px;
    }
    
    .content-2 p {
      margin-top: 5px;
      font-size: 20px;
      margin-left: 5px;
      margin-right: 10px;
    }
    
    #read_button-2 {
      padding: 10px;
      font-size: 14px;
    }
    
    .rodape {
      height: 410px;
    }
    
    .contato {
      margin-left: 220px;
      font-size: 40px;
    }
    .posic{
        margin-left: 230px;
        padding-top: 10px;
    }
    .posic-2{
        margin-left: 217px;
        padding-top: 10px;
        padding: -2px;
    }
    .gmail{
        margin-left: 300px;
        margin-top: -50px;
        font-size: 20px;
    }
    .whats {
        margin-left: 300px;
        margin-top: -60px;
        font-size: 20px;
        margin-bottom: 15px
    }
    
    .rodeer .rod {
      padding: -10px;
      margin-left: 650px;
      margin-right: -2px;
      padding-top: 0px;
      margin-top: -100px;
      margin-bottom: 110px;
      font-size: 17px;
    }
    
  .rod-pe {
      margin-left: 0px;
      margin-top: -1200px;
      margin-bottom: 120px;
      width: 200px;
      height: 200px;
      float: none;
    }
}
 /* Responsividade de 1250px á 1400px obr: Tablet*/
 @media (min-width: 1250px) and (max-width: 1400px){
    .menu{
      width: 100%;
      height: 160px;
      margin-bottom: auto;
    }
    
    .menu img {
      margin-top: -10px;
      margin-left: 20px;
    }
    
    ul li {
      display: inline;
      float: right;
      padding-right: 3rem;
      margin-top: 65px;
      margin-right: 10px;
    }
    
    .conteudo {
      height: 1000px;
      background-size: cover;
      background-position: center;
    }
    
    .tema .texto-1 {
      padding-top: 50px;
      margin-left: 50px;
      margin-right: 0;
      margin-bottom: 0;
      font-size: 50px;
    }
    
    .tema p {
      font-size: 40px;
      margin-left: 0;
    }

    .botao {
      margin-left: 600px;
    }
    
    .tema .aviao-plan {
      margin-top: 30px;
      padding-top: 10px;
      padding-bottom: 60px;
      margin-left: -180px;
      margin-right: 0px;
    }
    
    .formulário {
      width: 500px;
      height: 565px;
      float: none;
      margin-top: 15px;
      margin-left: 415px;
    }
    
    .formulário .text-form-title {
      font-size: 25px;
      margin-top: 20px;
      padding: 20px;
    }


    .basico-input input {
      width: 370px;
      margin-top: 10px;
      color: #000000;
      margin-bottom: 1px;
      outline: 0;
      margin-left: -20px;
    }

    div.basico-input label{
      font-size: 20px;
    }
    
    .form-but {
      margin-left: 170px;
      margin-top: 30px;
      margin-bottom: 10px;
    }

    .form-but .enviar{
      border-bottom: #000000;
      margin-left: -10px;
      margin-top: -2px;
      width: 50px;
      color: #9400D3;
      
    }
    .conta-cadastro {
      font-size: 20px;
      margin-top: 10px;
    }
    
    .perguntas {
      height: 550px;
      width: 100%;
    }
    
    h1 {
      font-size: 35px;
    }
    .card .content h3{
        font-size: 20px;
    }
    
    p {
      padding-top: 13px;
      font-size: 15px;
      margin-left: 50px;
      margin-right: 50px;
    }
    
    .card::before {
      border: none;
    }
    
    .card .content h3 {
      font-size: 25px;
      margin-left: 2px;
    }
    
    .content p {
      margin-top: 5px;
      font-size: 20px;
      margin-left: 5px;
      margin-right: 10px;
    }
    
    #read_button {
      padding: 10px;
      font-size: 14px;
    }
    
    .card-2::before {
      border: none;
    }
    
    .card-2 .content-2 h3 {
      font-size: 25px;
      margin-left: 2px;
    }
    
    .content-2 p {
      margin-top: 5px;
      font-size: 20px;
      margin-left: 5px;
      margin-right: 10px;
    }
    
    #read_button-2 {
      padding: 10px;
      font-size: 14px;
    }
    
    .rodape {
      height: 230px;
    }
    
    .contato {
      margin-left: 470px;
      font-size: 40px;
    }
    .posic{
        margin-left: 350px;
        padding-top: 10px;
    }
    .posic-2{
        margin-left: 337px;
        padding-top: 10px;
        padding: -2px;
    }
    .gmail{
        margin-left: 430px;
        margin-top: -50px;
        font-size: 25px;
    }
    .whats {
        margin-left: 430px;
        margin-top: -60px;
        font-size: 25px;
        margin-bottom: 15px
    }
    
    .rodeer .rod {
      padding: -10px;
      text-align: right;
      margin-left: 1000px;
      padding-top: 0px;
      margin-top: -20px;
      margin-bottom: -70px;
      font-size: 21px;
    }
    
  .rod-pe {
      margin-left: 50px;
      margin-top: -2000px;
      margin-bottom: -100px;
      width: 220px;
      height: 220px;
      float: none;
    }
}