*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    background-color: rgb(226, 218, 218);
}
/* Esté é o menu em cima */
.menu{
    background-image: url(/img/menu.jpg);
    width: 100%;
    height: 200px;
    background-size: 1950px 200px;
    background-repeat: no-repeat;
}
.menu img{
    margin-top: -0.7rem;
    margin-left: 0.7rem;
}
ul li{
    display: inline;
    float: right;
    padding-right: 3rem;
    margin-top: 70px;
    margin-right: 10px;
}
li{
    font-size: 30px;
    color: rgb(252, 252, 252);
    border:4px solid var(--cor-azul);
    position: relative;
    text-transform: capitalize;
    text-decoration:none;
    color: var(--cor-azul);
    background-color: transparent;
    cursor: pointer;
    font-size: 2em;
    font-family: 'open_sansregular';
    transition:0.4s;
    text-shadow: 0 0 0.125em rgba(53, 11, 243, 0.5), 0 0 0.25em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--cor-azul), 0 0 0.5em 0 var(--cor-azul);
}
li :hover{
    color: #8A2BE2;
    transition:0.4s;
    text-shadow: none;
}
li :hover:after {
    opacity: 1;
}
li :hover:before {
    opacity: 1;
}
li :before, li :after {
    content: "";
    position: absolute;
    transition: opacity 100ms linear;
    background-color: var(--cor-azul);
}
a{
    text-decoration: none;
    color: #ffffff;
}
.linha-01{
    background-color: rgb(226, 218, 218);
    height: 154px;
}
.titulo{
    text-align: center;
    color: #8A2BE2;
    font-family: Playfair Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding: 20px;
}
.sub-titulo{
    text-align: center;
    color: #000;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -10px;
}
.imagem-pequena{
    width: 127px;
    height: 124px;
    margin-left: 280px;
    margin-top: -100px;
    padding: 10px; 
    animation: go-back 1s infinite alternate;
}
@keyframes go-back {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  }
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
.imagem-pequena-two{
    width: 127px;
    height: 124px;
    flex-shrink: 0;
    margin-left: 1055px;
    margin-top: -200px;
    padding: 10px;
    animation: go-back 1s infinite alternate;
}

.quem-somos{
    width: 100%;
    height: 388px;
}
.titulos-menores{
    color: #8A2BE2;
    text-align: justify;
    font-family: Playfair Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding: 20px;
    margin-left: 1150px;
    margin-top: 20px;
}
.pequeno-texto{
    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    margin-left: 900px;
    margin-right: 200px;
    padding: 20px;
}
.imagens-pequenas{
    border-radius: 20px;
    width: 517px;
    height: 340px;
    flex-shrink: 0;
    margin-top: -315px;
    margin-left: 200px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.missao{
    height: 388px;
    background-color: rgb(226, 218, 218);
    width: 100%;
}
.missao h1{
    color: #8A2BE2;
    text-align: justify;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-left: 400px;
    padding: 30px;
}
.missao p{
    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 100px;
    margin-right: 900px;
    padding: 20px;
}
.missao img{
    border-radius: 20px;
    width: 517px;
    height: 340px;
    flex-shrink: 0;
    margin-top: -315px;
    margin-left: 1200px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.ambiente{
    width: 100%;
    height: 388px;
}
.ambiente h1{
    color: #8A2BE2;
    text-align: center;
    font-family: Playfair Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding: 3px;
    margin-left: 1050px;
    margin-right: 350px;
    margin-top: 10px;
}
.ambiente p{
    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    margin-left: 900px;
    margin-right: 200px;
    padding: 20px;
}
.ambiente img{
    border-radius: 20px;
    width: 517px;
    height: 340px;
    flex-shrink: 0;
    margin-top: -415px;
    margin-left: 200px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.cliente{
    width: 100%;
    height: 388px;
    background-color: rgb(226, 218, 218);
}
.cliente h1{
    color: #8A2BE2;
    text-align: justify;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-left: 400px;
    padding: 30px;
}
.cliente p{
    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 100px;
    margin-right: 900px;
    padding: 20px; 
}
.cliente img{
    border-radius: 20px;
    width: 517px;
    height: 340px;
    flex-shrink: 0;
    margin-top: -315px;
    margin-left: 1200px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.confianca{
    height: 388px;
    width: 100%;
}
.confianca h1{
    color: #8A2BE2;
    text-align: center;
    font-family: Playfair Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    padding-top: 20px;
    line-height: normal;
    margin-left: 1050px;
    margin-right: 350px;
    margin-top: 15px;
}
.confianca p{
    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    margin-left: 900px;
    margin-right: 200px;
    padding: 10px;
    margin-top: 30px;
}
.confianca img{
    border-radius: 20px;
    width: 517px;
    height: 340px;
    flex-shrink: 0;
    margin-top: -310px;
    margin-left: 200px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.historia{
    height: 410px;
    background-color: rgb(226, 218, 218);
    width: 100%;
}
.historia h1{
    color: #8A2BE2;
    text-align: justify;
    font-family: Playfair Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-left: 150px;
    padding: 10px;
}
.historia p{
    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 120px;
    margin-right: 120px;
}
/* Rodapé */
.rodape{
    width: 100%;
    height: 100%;
    background-image: url(/img/menu.jpg);
    background-size: 1950px 220px;
    background-repeat: no-repeat;
}
.contato{
    margin-left: 200px;
    color: #ffffff;
    padding: 25px; 
    font-size: 40px;
}
.gmail{
    margin-left: 80px;
    margin-top: -40px;
    color: #ffffff;
    font-size: 22px;
}
.whats{
    margin-left: 80px;
    margin-top: -55px;
    color: #ffffff;
    font-size: 22px;
}
.posic{
    margin-left: 20px;
}
.posic-2{
    margin-left: 10px;
}
.rodeer .rod{
    margin-left: 1400px;
    margin-top: -20px;
    margin-bottom: -50px;
    font-size: 17px;
    color: #ffffff;
}
.rod-pe{
    margin-left: 1650px;
    margin-top: -100px;
}